body {
    background-color: #e4f4fd;
}

.container {
    display: flex;
    margin: 20px 0 0 800px;

}

.Web-Title {
    display: flex;
    scale: 2;
    margin: 7rem 0 0 5rem;
    
}

.container p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0 0 -160px;
}

.container button {
    display: flex;
    margin: 200px 0 0 -140px;
    background-color: rgb(78, 175, 78);
    border: 1px solid;
    border-radius: 10px;
    height: 30px;
    width: 120px;
    padding: 5px;
    -webkit-text-fill-color: white;


}

